<div class="container">
    <h1>User Info</h1>
    <form [formGroup]="inputForm">
        <div class="example-container">
            <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
                <mat-label>First Name</mat-label>
                <input pattern="[a-zA-Z ]*" formControlName="firstName" matInput placeholder="Enter your first name">
              </mat-form-field>
        </div>
        <pre></pre>
        <div class="example-container">
            <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
                <mat-label>Last Name</mat-label>
                <input pattern="[a-zA-Z ]*" formControlName="lastName" matInput placeholder="Enter your last name">
              </mat-form-field>
        </div>
        <pre></pre>
        <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Email address</mat-label>
              <input formControlName="emailAddress" matInput placeholder="pat@example.com">
              <mat-error *ngIf="emailAddress.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
         <pre></pre>
         <div class="example-button-row">
          <button mat-raised-button color="primary" (click)="addData()">Submit</button>
        </div>
        <!-- <button class="btn btn-formSubmit" type="submit">Submit</button> -->
    </form>
</div>

